p {
  font-family: "BR Sonoma";
}
li {
  font-family: "BR Sonoma";
}
button {
  font-family: "BR Sonoma";
}
label {
  font-family: "BR Sonoma";
}
.fuenteBold {
  font-family: "BR Sonoma Bold";
}
.fuenteBlack {
  font-family: "BR Sonoma Black";
}
.fuenteSemiBold {
  font-family: "BR Sonoma SemiBold";
}
.fuenteLight {
  font-family: "BR Sonoma light";
}
